# Python Virtual Environments
venv/
.venv/
env/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Distribution / packaging
build/
dist/
*.egg-info/

# Frontend
frontend/node_modules/
# frontend/dist/

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
*.db
backend/data/
